{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Meetups{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    {% block site_css %}{% endblock %}
</head>
<body>
    <header id="main-header">
        <nav>
            <a href="{% url 'starting-page' %}" id="main-logo">DjangoMeetups</a>
            <h1>{% block main_heading %}{% endblock %}</h1>
            <p>{% block header_content %}{% endblock %}</p>
        </nav>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
</body>
</html>


